@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
}
body{
  color: white;
  background-color: #222;
}
.flexure{
  display: flex;
  gap: 8px;
}

.flexure button{
  padding: 8px;
}
.topics {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

img{
  width: 300px; /* Set your desired width */
  height: 200px; /* Set your desired height */
  object-fit: cover;
  object-position: center;
}

main{
  padding: 10px;
  max-width: 80rem;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: #555;
  font-weight: bolder;
  margin-bottom: 60px;
  width: 100%;
  border-radius: 10px;;

}

header a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

header a.logo{
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

header nav{
  display: flex;
  gap: 100px;
}

div.post{
  display: grid;
  grid-template-rows: 0.3fr 0.8fr;

}

div.texts h2{
  font-weight: bolder;
  text-decoration: none;
}

div.texts a{
  text-decoration: none;
  color: inherit;
}
div.texts p{
  max-width: 22rem;
}

p.info{
  margin: 1px 1px;
  color: #fee;
  font-size: 0.7rem;
  display: flex;
  gap: 10px;
}

p.info a.author{
  color: #fee;
}



.grid, .category{
  display: grid;

  grid-template-columns: auto auto auto; 
  grid-gap: 1px;

}

.category h2 {
  margin-bottom: 16px;
}

.category a{
  text-decoration: none;
  color: #FFF;
}

.category-info {
  margin-top: -0.5rem;
}

.buttons{
  display: flex;
  gap: 8px;
  margin-bottom: 3rem;
  color: red;
  
}
.buttons button{
  background-color: #fff;
}

.buttons a {
  text-decoration: none;
}



@media screen and (max-width: 768px){
  div.grid{
    flex-direction: column;
  }
}
form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 0;
  background-color: #eee;
  border-radius: 10px;
}

button{
  width: 100%;
  display: block;
  background-color: blue;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
}
.buttons a{
  color: black;
}


.buttons button:hover{
  background-color: blue;
  color: white;
}
form.login h1, form.register h1{
  text-align: center;
}

div.post-page div.image{
  max-height:200px;
  display: flex;
  overflow:hidden;
}
div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a{
  color:#333;
  text-decoration: underline;
}

div.post-page h1{
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time{
  text-align: center;
  display: block;
  font-size:1rem;
  color:#aaa;
  margin: 10px 0;
}
div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}

div.edit-row{
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding:15px 30px;
  border-radius: 5px;
  text-decoration: none;
}
a svg{
  height:20px;
}



footer{
  background: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 4rem;
  border-radius: 5px;

}

footer span{
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 10px;
}

footer .author{
  color: #fff;
}

.footer-socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 10px;
  color: white;
}

.footers-socials a{
  width: 35px;
  height: 35px;
  color: #454545;
  border: 1.5px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials a:hover{
  color: crimson;
  border-color: crimson;
  transition: all 0.3s ease;
}

